@charset "UTF-8";

/*
Paleta de Cores
verde: #49a09d
lilás: #5f2c82
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Configuração Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Mobile */
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: #ffffff;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

section > div#image-login {
    background: #5f2c82 url("../imagens/login-image.jpg") no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
